<head>
  <style>
    form {
      margin:0 auto;
      width:300px
      }
      input {
        margin-bottom:3px;
        padding:10px;
        width: 100%;
        border:1px solid #CCC
      }
      button {
        padding:10px
      }
      label {
        cursor:pointer
      }

  </style>
</head>

<h1>Publisher Portal</h1>
<form id='to-category-view' action="categories" method='get'>
  <!--input type="text" name = "username" placeholder="Username" required-->
  <button type='submit'>Categories</button>
</form>
<form id='to-new-message' action="new-message" method='get'>
  <button type='submit'>New Message</button>
</form>
